* {margin: 0; padding: 0; box-sizing: border-box;}

.header {position: fixed; background-color: rgba(0, 0, 0, 0); width: 100%; top: 0; left: 0; z-index: 1000; transition: background-color 0.3s ease;}

.header .wrap-header {display: flex; justify-content: space-between; margin: 0 50px; align-items: center; height: 100px; color: white;}

.header .wrap-header .logo img {display: absolute; width: 215px; height: 28px; align-items: center;}

.header .wrap-header a {color: white; text-decoration: none;}

.menu {display: flex; align-items: center;}

.main-menu {display: flex; list-style: none; font-size: 16px;}

.main-menu a {width: 160px;}

.main-menu1 {display: flex; flex-direction: column; justify-content: center; margin: 0; padding: 0; min-width: 110px; height: 100px; font-size: 18px; font-weight: 800; position: relative; text-align: center;}

.submenu {display: none; position: absolute; top: 100%; left: 0; width: 100%; height: 200px; text-align: center;}

.submenu1 {width: 120px; margin: 0; padding: 10px 0;  font-size: 14px; text-align: center;}

.menu .submenu {display: none; position: absolute; top: 100%; left: 13%; width: 200%; text-align: center;}

.menu:hover .submenu {display: block;}

.menu:hover .header {color: black; background-color: white;}

.menu .submenu:hover {display: block;}

.submenu-name {list-style: none;}

.submenu1 {padding: 10px; text-align: center; font-size: 14px; font-weight: 400}

.shorcuts {display: absolute; align-items: center;}

.lang {padding: 0 0 0 20px;}

.OnlineMall {display: inline-block; padding: 0 20px; margin: 20px; text-decoration: none; position: relative; color: #fff; border: 2px solid transparent; border-radius: 50px/50px; border: 1px solid #fff; overflow: hidden; line-height: 40px; vertical-align: middle;}

.Shortcuts .search img, .Shorcuts .lang img {width: 22px; height: 22px;}

.section1 {position: relative; width: 100%; margin: 0 auto; overflow: hidden;}

.slider {display: flex;}

.slider-item {position: relative; overflow: hidden; flex: 0 0 auto;}

.slider-item img {width: 100%; height: 100%; object-fit: cover;}

.slider-text {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; justify-content: center; color: #fff;}

.slider-text .subtitle {font-size: 30px;}

.slider-text .title {font-size: 40px; margin: 30px 0; line-height: 1.4;}

.slider-text .last {font-size: 20px; line-height: 1.4;}

.skip .next {right: 50px; background-image: url(res/img/kv_next.png) no-repeat center; width: 25%;}

.skip .prev {left: 50px; background-image: url(res/img/kv_prev.png) no-repeat center; width: 25%;}

.section2 {}

.cont {position: relative; justify-content: center; align-items: center;}

.wrap-title {}

.wrap-title .title {font-size: 48px; font-weight: 100;}
.wrap-title .sub {font-size: 18px; margin: 30px 0;}