* {margin: 0; padding: 0; box-sizing: border-box;}

/* header */
#header {position: fixed; background-color: rgba(0, 0, 0, 0); width: 100%; top: 0; left: 0; right: 0; z-index: 100;}
#header .wrap-header {display: flex; justify-content: center; align-items: center; transition: all 0.3s ease-out;}
#header .wrap-header .logo {position: absolute; left: 40px; top: 36px;}
#header .wrap-header .logo > a {display: block; width: 215px; height: 28px; text-indent: -9999px; 
    background:url(https://www.shinsegae-lnb.com/images/common/logo_wh.png) no-repeat center / contain;}
#header .menu {display: flex; margin: 0; padding: 0; text-align: center;}
#header .menu .main-menu {display: flex; flex-direction: row;}
#header .menu .main-menu > li {width: 160px;}
#header .menu .main-menu1 > a {display:block; position:relative; color:white; line-height: 100px; font-size: 18px; width: 100%;}
#header .submenu {display: none;}
#header .submenu ul {position: absolute; padding: 20px 20px 60px; width:160px;}
#header .submenu li {display: flex; justify-content: center; align-items: center; text-align: center;}
#header:hover .submenu {display: block;}
#header .submenu .submenu-name a {width:100%; font-size: 14px; font-weight: 400; overflow: hidden; padding: 10px 0; color: black; text-align: center;}
#header .Shortcuts {position: absolute; display: flex; justify-content: flex-end; align-items: center; right: 40px; top: 36px;}
#header .lang {padding: 0 0 0 20px; color: #fff;}
#header .OnlineMall {display: inline-block; padding: 0 20px; margin: 0 0 0 30px; text-decoration: none; position: relative; color: #fff; 
    border-radius: 50px/50px; border: 1px solid #fff; overflow: hidden; line-height: 40px; vertical-align: middle;}
#header .Shortcuts .search img, .Shortcuts .lang img {width: 22px; height: 22px;}

/*quick-menu*/

.quick {position:fixed; flex-direction: column; justify-content: center; right: 20px; bottom: 20px; z-index: 1;}
.quick a {display: flex; flex-direction: column; width: 80px; height: 80px; justify-content: center; align-items: center; border: 2px solid black; 
    border-radius: 50px/50px; font-weight: bold; margin-top: 10px; color: black; background-color: #fff;}
.quick img {width: 17px;}
.quick span {margin-top: 10px;}

/*section1*/
.slider__wrap {position: relative;}
.slider__wrap .slider__inner {position: relative; height: 100vh; overflow: hidden; display: flex; justify-content: center; 
    flex-direction: column; align-items: center; text-align: center; padding: 0 100px;}
.slider__wrap .img {position: absolute; width: 100vw; height: 100vh; top: 0; left: 0; animation: fade 1s forwards;}
.slider__wrap .slider__text {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
    width: 100%; text-shadow: rgba(0,0,0,1) 1px 0 10px; color: white; line-height: 1.5; opacity: 1;}
.slider__wrap .slider__text .title {font-size: 30px;}
.slider__wrap .slider__text .subtitle {font-size: 45px; margin: 30px 0; line-height: 1.3;}
.slider__wrap .slider__text .last {font-size: 20px;}
.slider__wrap .control {display: flex; justify-content: center; align-items: center;}
.slider__wrap .control a {position: absolute; transform: translateY(-50%); top: 50%; display: block; width: 50px; height: 50px; transition: all 0.2s;}
.slider__wrap .control .btn__prev a.prev {left: 10px;}
.slider__wrap .control .btn__next a.next {right: 10px;}
.slider__wrap .slider__dot {position: absolute; left: 50%; transform: translateX(-50%); bottom: 20px;}
.slider__wrap .slider__dot .dot {width: 20px; height: 20px; background: rgba(0, 0, 0, 0.4); display: inline-block; border-radius: 50%; 
    text-indent: -9999px; transition: all 0.3s; margin: 3px;}
.slider__wrap .slider__dot .dot .active {background: rgba(255,255,255,0.9);}

/*section container*/
.main .wrap__title {}

/*section2 style*/
.section2 .cont {display: flex; justify-content: flex-start; align-items: flex-start; position: relative; margin: 0 190px; padding: 150px 0; }
.section2 .cont .wrap__title {width: 30%; animation: fadeInLeft 1s;}
.section2 .cont .wrap__title h2 {font-size: 48px;}
.section2 .cont .wrap__title p {margin-top: 30px; font-size: 18px;}
.section2 .cont .wrap2 {display: grid; width: 70%;  grid-template-columns: repeat(2, 1fr);}
.section2 .cont .wrap2 .vision2 {max-width: 400px; margin-top: 80px;}
.section2 .cont .wrap2 p {margin: 30px 0; font-size: 36px; font-weight: bold;}
.section2 .cont .wrap2 span {font-size: 16px;}

@keyframes fadeInLeft {0% {opacity: 0; transform: translate3d(-100%,0,0);} to {opacity: 1; transform: translateZ(0);}}

/*section3 slider*/

